TOKEN=

# freq:   determines the first word by usage frequency (more predictable)
# random: determines the first word randomly (more chaotic)
START_WORD_TYPE=freq

# A chance from 0.0 to 1.0 to reply to any user message
MESSAGE_CHANCE=0.1
